@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Lato";
  background-color: rgba(242, 242, 242, 0.669);
}

#root {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#main_home {
  min-height: 82vh;
  margin-top: -90px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.login_main {
  margin: 0 auto;
  width: 1300px;
  height: 670px;
  background-color: rgba(255, 255, 255, 0.27);
}
.login_main img {
  width: 1300px;
  height: 680px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 120px;
  z-index: -1;
}

#header_wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: #fd2b01;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

#header {
  margin: 0 auto;
  width: 1300px;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fd2b01;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  width: 350px;
  height: 130px;
  object-fit: cover;
}
.logo img {
  margin-left: 25px;
}

.header_features {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.user_name {
  width: auto;
  height: 100%;
  white-space: nowrap;
  color: white;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logout_button {
  width: auto;
  height: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 17px;
  font-weight: 600;
  font-family: "Lato";
  text-align: center;
  color: #fff;
}

.header_button :hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header_button :active {
  background-color: rgba(255, 255, 255, 0.4);
}

.select_option {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 1;
}

.select_button {
  width: 200px;
  height: 100px;
  border: 0;
  border-radius: 10px;
  background-color: #fd2b01;
  font-size: 30px;
  font-weight: 600;
  font-family: "Lato";
  text-align: center;
  color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(129, 129, 129, 0.334);
}

.select_button:hover {
  background-color: rgba(253, 43, 1, 0.7607843137);
}

.return_button {
  white-space: nowrap;
  margin-left: 20px;
  width: 100px;
  height: 50px;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  font-weight: 500;
  font-family: "Lato";
  text-align: center;
}

.return_button:hover {
  color: rgba(255, 255, 255, 0.756);
}

.login_form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.login_form button {
  width: 150px;
  height: 45px;
  border: 0;
  border-radius: 10px;
  background-color: #fd2b01;
  font-size: 23px;
  font-weight: 600;
  font-family: "Lato";
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 15px;
  box-shadow: 0px 1px 3px 0px rgba(129, 129, 129, 0.334);
}
.login_form button:hover {
  background-color: rgba(253, 43, 1, 0.6745098039);
}

.login_input {
  width: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 23px;
}
.login_input input {
  border: 2px solid #fd2b01;
  background-color: rgba(255, 255, 255, 0.7647058824);
  width: 200px;
  font-size: 23px;
}

#footer_wrapper {
  justify-self: flex-end;
  margin: 0 auto;
  width: 100%;
  background-color: #ffd7d7;
  z-index: 0;
}

#footer_main {
  margin: 0 auto;
  width: 1300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.logo_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 130px;
  object-fit: cover;
}
.logo_footer img {
  width: 100%;
}

.footer_list {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer_list button {
  width: 150px;
  height: 45px;
  border: 0;
  border-radius: 10px;
  background-color: #fd2b01;
  font-size: 15px;
  font-weight: 600;
  font-family: "Lato";
  text-align: center;
  color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(129, 129, 129, 0.334);
}
.footer_list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px;
}
.footer_list button:hover {
  background-color: rgba(253, 43, 1, 0.8039215686);
}

.new_post {
  width: 1200px;
  margin: 50px 0;
}
.new_post button {
  position: fixed;
  bottom: 95px;
  right: 95px;
  width: 75px;
  height: 75px;
  border: 0;
  border-radius: 50%;
  background-color: #fd2b01;
  font-size: 23px;
  font-weight: 600;
  font-family: "Lato";
  text-align: center;
  color: #fff;
  margin-top: 15px;
  box-shadow: 0px 1px 3px 0px rgba(129, 129, 129, 0.334);
  z-index: 1;
}
.new_post button:hover {
  background-color: rgba(253, 43, 1, 0.7529411765);
}

#post_form {
  margin: 25px 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#post_form button {
  width: 150px;
  height: 45px;
  border: 0;
  border-radius: 10px;
  background-color: #fd2b01;
  font-size: 20px;
  font-weight: 600;
  font-family: "Lato";
  text-align: center;
  color: #fff;
  margin-top: 15px;
  box-shadow: 0px 1px 3px 0px rgba(129, 129, 129, 0.334);
}
#post_form button:hover {
  background-color: rgba(253, 43, 1, 0.7529411765);
}

.post_input {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 23px;
}
.post_input textarea {
  border: 2px solid #fd2b01;
  background-color: #ffd7d7;
  width: 500px;
  font-size: 23px;
  border-radius: 15px;
  width: 600px;
  resize: none;
}
.post_input input {
  border: 2px solid #fd2b01;
  background-color: #ffd7d7;
  width: 500px;
  font-size: 15px;
  border-radius: 15px;
  width: 270px;
}

#post_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.post {
  width: 95%;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid #4e5166;
  background-color: rgba(78, 81, 102, 0.0784313725);
  margin-bottom: 10px;
}

.post_body {
  display: flex;
  flex-flow: column nowrap;
}
.post_body .image {
  max-width: 95%;
  align-self: center;
}
.post_body .image img {
  max-width: 100%;
}

.author {
  margin: 15px 0 0 15px;
  font-size: 22px;
  font-weight: 500;
}

.text {
  margin-left: 15px;
  font-size: 22px;
  font-weight: 500;
}

.post_button {
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 15px;
}

.manage_button {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.like_button {
  margin-right: 15px;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}
.like_button .green {
  color: green;
}
.like_button .red {
  color: red;
}

/*# sourceMappingURL=index.css.map */
