#header_wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: #fd2b01;
  z-index: 1;
}

#header {
  margin: 0 auto;
  width: 1300px;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fd2b01;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  width: 350px;
  height: 130px;
  object-fit: cover;
  img {
    margin-left: 25px;
  }
}

.header_features {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.user_name {
  width: auto;
  height: 100%;
  white-space: nowrap;
  color: white;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logout_button {
  width: auto;
  height: 100%;
  border: 0;
  background-color: #00000000;
  font-size: 17px;
  font-weight: 600;
  font-family: "Lato";
  text-align: center;
  color: #fff;
}

.header_button {
  :hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  :active {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
