html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Lato";
  background-color: rgba(242, 242, 242, 0.669);
}

#root {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#main_home {
  min-height: 82vh;
  margin-top: -90px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.login_main {
  margin: 0 auto;
  width: 1300px;
  height: 670px;
  img {
    width: 1300px;
    height: 680px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 120px;
    z-index: -1;
  }
  background-color: rgba(255, 255, 255, 0.27);
}
