#post_wrapper {
  width: 1300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.post {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid #4e5166;
  background-color: #4e516614;
  margin-bottom: 10px;
}

.post_body {
  display: flex;
  flex-flow: column nowrap;
  .image {
    max-width: 95%;
    align-self: center;
    img {
      max-width: 1000px;
    }
  }
}

.author {
  margin: 15px 0 0 15px;
  font-size: 22px;
  font-weight: 500;
}

.text {
  margin-left: 15px;
  font-size: 22px;
  font-weight: 500;
}

.post_button {
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 15px;
}

.manage_button {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  button {
    background-color: #4e5166b7;
    height: 45px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Lato";
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(129, 129, 129, 0.334);
  }
  button:hover {
    background-color: #4e5166;
  }
}

.like_button {
  margin-right: 15px;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;

  button {
    background-color: #4e5166b7;
    height: 45px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Lato";
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(129, 129, 129, 0.334);
  }

  button:hover {
    background-color: #4e5166;
  }

  .green {
    color: lime;
  }
  .red {
    color: red;
  }
}

.like_text {
  margin: 0 5px;
}
